/* colors
--------------------------------------------------*/
$primary-color: #000;
$alt-color: #404040;
$border-color: #E6E6E6;

/* space
--------------------------------------------------*/
$primary-space: 80px;
$alt-space: 48px;