/* product card
--------------------------------------------------*/
.prod-card {
	padding: 30px;
	margin-bottom: $alt-space;

	&:hover .products__overlay {
		top: 0;
	}

	@at-root #{&}__image {
		img {
			width: 100%;
			max-width: 100%;
		}

		@include relative();
		overflow: hidden;
	}

	@at-root #{&}__overlay {
		@include absolute($top: 100%, $right: 0, $left: 0);
		width: 100%;
		height: 100%;
		background-color: rgb(226 226 226 / 92%);
		@include prefix(transition, top 0.3s, webkit o);
	}

	@at-root #{&}__add-cart {
		@include relative();
		@include fonts(40px, 300);
		font-style: italic;
		cursor: pointer;
		text-transform: capitalize;

		&::before {
			content: "";
			@include absolute($bottom: -10px, $left: 0);
			width: 0;
			height: 3px;
			background: $primary-color;
			@include prefix(transition, width 0.3s, webkit o);
		}

		&:hover {
			&::before {
				width: 100%;
			}
		}
	}

	@at-root #{&}__body {
		@include flex-box();
		@include justify-content(space-between);
		margin-top: 24px;
	}

	@at-root #{&}__title {
		@include fonts(20px, 400);
	}

	@at-root #{&}__cate {
		@include fonts(14px, 400);
		margin-top: 6px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $alt-color;
	}

	@at-root #{&}__price {
		@include fonts(20px, 400);
	}
}
/* end product card
--------------------------------------------------*/

/* cart card
--------------------------------------------------*/
.cart-card {
	margin-bottom: $alt-space;

	@at-root #{&}__image {
		width: 77px;
		height: 77px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	@at-root #{&}__texts {
		margin-left: 24px;
	}

	@at-root #{&}__title {
		@include fonts(16px, 400);
	}

	@at-root #{&}__price {
		@include fonts(16px, 500);
		margin-top: 10px;
	}

	@at-root #{&}__remove {
		@include fonts(14px, 400);
		margin-top: 5px;
		cursor: pointer;
	}

	@at-root #{&}__count-number {
		@include fonts(16, 500);
		padding: 10px 0;
		text-align: center;
	}

	@at-root #{&}__count-icon {
		cursor: pointer;
	}
}
/* end cart card
--------------------------------------------------*/