/* products
--------------------------------------------------*/
.products {
	padding: $primary-space 0;

	@at-root #{&}__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
	}
}
/* end products
--------------------------------------------------*/